* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #bbdefb;
    align-items: center;
    padding: 30px;
    gap: 20px;
    overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(77, 86, 167);
  gap: 10px;
  width: 100vw;
}

.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #8aacc8;
  color: #dbf3f3;
  width: 40%;
  height: 80px;
  border-radius: 10px;
}

.form-buscar {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.form-buscar button {
  height: 80%;
}

#buscarFuncionario {
  width: 50%;
  height: 100%;
  border: 1px solid rgb(77, 86, 167);
  border-radius: 10px;
  padding: 10px;
  background-color: transparent;
}

#buscarFuncionario::placeholder {
  color: rgb(77, 86, 167);
}

table {
  background-color: #8aacc8;
}

table tr:nth-child(odd) {
  background-color: #dbf3f3;
}

table td {
    padding: 5px;
    text-align: center;
}

table th {
  background-color: rgb(96, 136, 163);
  height: 44px;
  color: rgb(243, 239, 239);
}

.cadastrar-novo-funcionario {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #0009;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
  }
  
.cadastrar-novo-funcionario form {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 4px;
    gap: 5px;
    
    background-color: darkgray;
    box-shadow: 0px 0px 20px #000;
  }

.icons {
    display: flex;
}

img {
      width: 30px;
      height: 30px;
  }

.excluir-funcionario {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #0009;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.excluir-funcionario form {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 4px;
    gap: 5px;
    
    background-color: darkgray;
    box-shadow: 0px 0px 20px #000;
}

.container-form {
    width: 100vw;
    height: 100vh;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container-form form {
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 4px;
    gap: 5px;
    
    background-color: darkgray;
    box-shadow: 0px 0px 20px #000;
  }